<div class="max-w-md mx-auto text-center">
  <div class="text-5xl font-bold my-4">{{ section.settings.title }}</div>
  <div class="my-4">
    <p class="text-base md:text-xl leading-normal">{{ section.settings.subtext_title }}</p>
  </div>
  <div class="my-4">
    {% if section.settings.link_url == blank %}
      {% assign shop_url = shop.secure_url %}
    {% else %}
      {% assign shop_url = section.settings.link_url %}
    {% endif %}
    <a class="text-white font-medium shadow bg-green-600 hover:bg-green-800 rounded-md py-4 px-7" href="{{shop_url }}">{{ section.settings.link_text }}</a>
  </div>
</div>


{% schema %}
{
  "name": "Template 404",
  "tag": "section",
  "class": "flex flex-col items-center justify-center h-screen text-center py-7",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "404 Heading Title",
      "default": "404"
    },
    {
      "type": "text",
      "id": "subtext_title",
      "label": "404 Subtext Title",
      "default": "We couldn't find the page you were looking for."
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL",
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Button Label",
      "default": "Go to Home"
    }
  ]
}
{% endschema %}