<div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h1 class="text-2xl font-bold text-gray-700">Account</h1>

    <div class="block md:flex gap-4">
        {% assign number_of_orders = customer.orders | size %}
        {% if number_of_orders > 0 %}
            <div class="w-full my-6 md:my-12">
                <h2 class="text-xl font-bold text-gray-700">Order History</h2>
                <div>
                    {% paginate customer.orders by 12 %}
                      {% for order in customer.orders %}
                        <div class="relative">
                            {{ order.name }}
                        </div>
                      {% endfor %}
                    {% endpaginate %}
                    
                    The `paginate` tag allows the user to paginate to the 25,000th item in the array and no further. To reach items further in
                    the array the array should be filtered further before paginating. See
                    [Pagination Limits](/themes/best-practices/performance/platform#pagination-limits) for more information.
                </div>
            </div>
        {% else %}
            <div class="flex w-full h-80 items-center justify-center">
                <h2 class="text-base md:text-2xl font-medium">You currently do not have any orders</h2>
            </div>
        {% endif %}
    </div>
</div>