<div class="container mx-auto">
  {% paginate search.results by 10 %}
    <h1 class="text-xl my-4 text-center">Search Results</h1>
    <div class="flex items-center justify-center">
      <form method="get" action="{{ routes.search_url }}" class="w-full max-w-md">
        <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search..." class="w-full p-2 border border-gray-300 rounded">
        <button type="submit" class="bg-gray-900 hover:bg-gray-700 text-white border px-4 py-2 rounded">Search</button>
      </form>
    </div>
    {% for item in search.results %}
      {% case item.object_type %}
        {% when 'product' %}
          {% render 'product-card', product: item %}
        {% when second_value %}
          
        {% else %}
          
      {% endcase %}
    {% endfor %}
    {% render 'pagination', pagination: paginate, current_page: search.current_page, total_pages: search.total_pages %}
  {% endpaginate %}
</div>
